#c-nav {
  background-color: indigo !important;
}
#c-col{
  background-color: black;
  color: white;
}
#c-img {
  height: 50vh;
}
#c-title {
  height: 20vh;
  overflow: scroll;
}
.hide {
  display: none;
}
h2 {
  font-size: 1.5rem;
}
#caru-img {
  height: 50vh;
}